<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Coffee Shop Menu</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<h1>
    Welcome to the Fontaine Coffee Shop!
</h1>
<h2>
    Our Menu
</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
    </tr>
</table>


<div>
    <a th:href="@{/showNewProductForm}" class="button">Add New Product</a>
</div>
</body>
</html>